{% extends 'base.html.twig' %}

{% block title %}Ajout produit{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto d-block">
                <h1 class="text-center">formulaire d'ajout</h1>
                {{form_start(monForm,{
                                        'method':'POST',
                                        })}}
                {{form_row(monForm.designation)}}
                {{form_row(monForm.prix)}}
                {{ form_end(monForm)}}
            </div>
        </div>
    </div>
{% endblock %}