{% extends 'base.html.twig' %}

{% block title %}Hello UserProduitController!{% endblock %}

{% block body %}
                <dicv class="container">
                    <div class="row">
                        <div class="col- mx-auto text-center">
                                {% set comp = 0 %}
                                <table class="table table-dark">
                                            <thead>
                                                <tr>
                                                <th scope="col">Produit</th>
                                                <th scope="col">Suppression</th>
                                                </tr>
                                            </thead>
                                    {% for i in panierComp %}
                                    
                                            <tbody>
                                                <tr>
                                                <td>{{i.designation}}</td>
                                                <td>
                                                    <a href="{{path('supressionArt',{'id':i.id})}}"><button type="button" class="btn btn-danger m-3">X</button></a>
                                                </td>
                                                </tr>
                                            </tbody>

                                        {% set comp = comp + 1 %}
                                    {% endfor %} 
                                </table>
                                <h1>Nombre de produits: 
                                    <span class="badge bg-secondary">
                                        {{comp}}
                                    </span>
                                </h1>
                                <a href="{{path('tableauProduit')}}"><button type="button" class="btn btn-info m-3">Tableau produit</button></a>

                        </div>
                    </div>
                </dicv>
                
{% endblock %}
