{% extends 'base.html.twig' %}

{% block title %}Hello UserAdresseController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12 mx-auto">
            <h1>Forrmulaire adresse</h1>
            {{form_start(UserAdresse)}}
            {{form_end(UserAdresse)}}
        </div>
    </div>
</div>
{% endblock %}
